
export ec2_vpc_subnet={{ vpc_subnet_id }}

export ec2_instance_type='m4.large'
export ec2_master_instance_type='m4.large'
export ec2_infra_instance_type='m4.large'
export ec2_node_instance_type='m4.large'
export ec2_etcd_instance_type='m4.large'

export ec2_image={{ ami }}
export ec2_region={{ region }}
export ec2_keypair={{ keyname }}
export ec2_security_groups="['{{ sgname }}']"
export ec2_assign_public_ip='true'
export os_etcd_root_vol_size='20'
export os_etcd_root_vol_type='standard'
export os_etcd_vol_size='20'
export os_etcd_vol_type='standard'
export os_master_root_vol_size='20'
export os_master_root_vol_type='standard'
export os_node_root_vol_size='15'
export os_docker_vol_size='50'
export os_docker_vol_ephemeral='false'
